* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 62.5%;
}
.column {
    flex-direction: column;
    justify-content: center;
}
body {
    font-size: 1.6rem;
}
/* Pages */
.page-list {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.page-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 48px;
    min-width: 80px;
    color: #000;
    background-color: #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.page-item:hover {
    color: #fff;
    background: orange;
}
.page-link {
    position: relative;

    margin: auto;
    color: inherit;
    text-decoration: none;
}
/* Menu */
.menu-wrapper {
    font-family: "Roboto", sans-serif;

    display: flex;
    padding: 0 30px;

    color: #fff;
    background: #3e5cca;

    font-size: 1.6rem;
}
.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    min-width: 100px;
    box-shadow: 0px 5px 10px rgba(3e5cca, 40%);
    border-radius: 8px;
    border-bottom: 4px solid lighten(gray, 70%);
    padding: 4px;
    transition: all 0.3s;
}
.menu-item:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 15px 25px -5px rgba(#3e5cca, 40%);
    transform: scale(1.03);
    padding-left: 16px;
}

.menu-item:first-child::before,
.menu-item:last-child::after {
    display: none;
}
.menu-item::after,
.menu-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: #fff;
}
.menu-item::before {
    left: 0;
    top: 50%;
    translate: 0 -50%;
}
.menu-item::after {
    right: 0;
    top: 50%;
    translate: 0 -50%;
}
.menu-item:hover.menu-item::before {
    display: block;
    content: "\16ED";
    translate: 20px -12px;
    color: #3e5cca;
}
.menu-item-link {
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 1.6rem;
    padding: 12px 24px;
}
.menu-item-link:active {
    box-shadow: 0px 4px 8px rgba(#3e5cca, 30%);
    transform: scale(0.98);
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
    .menu-item-link:hover {
        background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}
/* Form */
.form {
    min-height: 100vh;
    display: block;
    margin: 0 auto;
}
.main-form {
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 2rem;
    color: #ccc;
    background: rgb(250, 249, 251);
}
.form-wrapper {
    padding: 18px;
    margin-top: 0;
}
.form-title {
    color: #000;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.form-desc {
    color: #ccc;
    font-size: 1.4rem;
    margin: 20px 0;
    text-align: center;
}
.form-input {
    font-family: "Roboto", sans-serif;
    display: block;
    position: relative;
    height: 48px;
    min-width: 400px;
    padding: 4px 18px;
    border: 3px solid transparent;
    border-radius: 10px;
    line-height: 1.2;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
}
.form-input:focus {
    border-color: orange;
}
.form-input:focus::placeholder {
    color: transparent;
}

.form-label::after {
    display: none;
    content: "*";
    position: absolute;
    height: 48px;
    width: 48px;
    top: 0;
    left: 0;
    color: red;
    top: 42px;
    left: -30px;
    font-size: 48px;
}
.form-input:user-invalid {
    border: none;
    outline: 3px solid red;
}
.form-group:has(.form-input:user-invalid) .form-label::after {
    display: inline-block;
}

.form-label {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(86, 75, 88);
}
.wallpaper_img {
    display: inline-block;
    height: 240px;
    width: 180px;
    border-radius: 12px;
}
.login-btn {
    color: orange;
    text-decoration: underline;
}
.form-group {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}
.form-group:first-child {
    margin-top: 0;
}
.radio-btn {
    width: 20px;
    height: 20px;
    border: 3px;
}
.radio-btn::after {
    content: "";
    display: none;
    background-color: orange;
    height: 12px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 12px;
    border-radius: 50%;
}
.radio-btn:checked::after {
    display: block;
    background-color: orange;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4),
        inset 0 2px 2px hsla(0, 0%, 100%, 0.4), 0 1px 1px hsla(0, 0%, 100%, 0.8),
        0 0 2px 2px hsla(0, 70%, 70%, 0.4);
}

.flex-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.flex-btn-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.avatar-input {
    padding-top: 8px;
    height: 38px;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin-left: auto;
}
.flex-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}
.avatar-placeholder {
    max-width: 128px;
    max-width: 128px;
    border-radius: 50%;
    cursor: pointer;
}
/* Form-Section */
.form-section {
    background-color: rgb(250, 249, 251);
    padding: 28px 34px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
.form-section:focus-within {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
}

.form-section + .form-section {
    margin-top: 20px;
}
.btn-submit {
    font-family: "Poppins", sans-serif;

    display: block;
    margin: auto;
    cursor: pointer;
    min-width: 128px;
    height: 48px;
    color: #fff;
    background: #000;
    border: 1px solid #ccc;
    transition: all 0.5s;
    border-radius: 7px;
}
.btn-submit:hover {
    font-weight: 600;
    color: #000;
    background-color: orange;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn-submit:active {
    transform: scale(1.03);
}
/* Blog */
body:has(.blog-wrapper) {
    background-color: #fdf9f2;
}
.blog-wrapper {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    max-width: 1170px;
    display: block;

    margin: auto;
    padding: 30px;

    font-size: 1.6rem;
    line-height: 1.6;

    background-color: #fdf9f2;
    color: #303030;
}
.blog-heading {
    font-family: "Poppins", sans-serif;

    font-size: 2.6rem;
    font-weight: 800;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.blog-desc {
    font-size: 1.2rem;
    color: #ccc;
    margin: 10px;
}
.blog-heading:not(h1) {
    font-family: "Poppins", sans-serif;
    margin: 20px 0 10px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
}
.blog-heading:not(h1)::after,
.blog-heading:not(h1)::before {
    content: "\16ED";
    display: inline-block;
    width: 16px;
    height: 16px;
}
.content {
    margin: 30px 0;
    padding: 16px 0;
    border-top: 2px solid #ffcc70;
    border-bottom: 2px solid #ffcc70;
}
.content > p:first-of-type:first-letter {
    float: left;
    padding: 1rem;
    font-size: 6rem;
    line-height: 1;
    initial-letter: 3;
}
.blog-article p::first-line {
    position: relative;
    font-style: italic;
    color: #8697c4;
}
p::selection {
    color: #8697c4;
    background-color: #ede8f5;
}
p strong {
    font-weight: 600;
}
p em {
    font-style: italic;
    text-decoration: underline;
}
.product-wrapper {
    margin: 30px 0;
}
.product-img {
    max-width: 360px;
    max-height: 360px;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.product-desc {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ad1d14;
}
blockquote {
    font-weight: 500;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 2rem;
    padding: 0.5em 3rem;
}
blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -4rem;
}
.quotes_highlight {
    font-weight: 800;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.comment_block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.comemnt-input-wrapper {
    width: 520px;
    max-width: 80%;
    background-color: #ccc;
    border-radius: 12px;
    margin-top: 30px;
    line-height: 1;
    font-size: 1.4rem;
}
.comemnt-input-wrapper textarea {
    padding: 18px 28px;

    height: 100px;
    width: 100%;
    overflow: hidden;
}
.user_name {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
}
.user_name a {
    color: inherit;
    text-decoration: none;
}
.user_title {
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #8697c4;
    background-color: #ede8f5;
}
.user_title.mod {
    color: #ffcc70;
    background-color: #303030;
}
.comment-content {
    margin-top: 20px;
    line-height: 1.4;
    cursor: pointer;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1.4rem;
}
.comment-content:hover {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
.comment_wrapper:nth-of-type(even) {
    border-left: 2px solid #ccc;
    padding-left: 4rem;
}
